.App{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Search Input */
.searchInput{
  border-radius: 8px;
  padding: 8px;
  width: 360px;
  font-size: 16px;
  font-weight:700;
  color: #6c6c6c;
  border: 1px solid #939393 ;
}

/* Repo List Styles */
.repoListContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

/* Single Repo Card Styles */
.card{
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 10px 8px;
  min-width: 480px;
  margin: 10px 10px;
}

.cardBody{
  display: flex;
  justify-content: space-evenly;
}

.repoAttributes{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

